/* 폰트 */
@font-face { 
	font-family: 'Recipekorea'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}

@font-face { 
	font-family: 'GmarketSansBold'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff'); font-weight: normal; font-style: normal; }

@font-face { 
	font-family: 'yg-jalnan'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; }
	
@font-face { 
	font-family: 'NanumSquareRound'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}

@font-face { 
	font-family: 'NEXON Lv1 Gothic OTF Light'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}

@font-face { 
	font-family: 'NEXON Lv1 Gothic OTF Bold'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

#logo1 {
	width: 125px;
	height: 50px;
	margin-left: 280px;
	
}

#logo1 > img {
	float: left;
	width: 40px;
	height: 40px;
}


h5 {
	float: right;
	cursor: pointer;
}

nav {
	width: 100%;
	min-width: 1342px;
	margin: 0 auto;
	height: 420px;
	text-align: center;
	background: linear-gradient(45deg, #0068b3, #B0D2EB);
}

section {
	width: 1280px;
	margin: 0 auto;
	margin-top: 60px;
}

footer {
	width: 100%;
	margin: 0 auto;
	background: #262626;
	height: 250px;
	margin-top : 250px;
}

.dropmenu {
	border: none;
	border: 0px;
	margin: 0px auto;
	padding: 0px;
	font: "sans-serif";
	font-size: 17px;
	text-align: center;
	vertical-align: text-bottom;
}

.dropmenu ul {
	width: 100%;
	height: 50px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	text-align: center;
	
}

.dropmenu ul li {
	padding: 0px;
	float:left;
	margin-top: 2px;
}

.dropmenu li a {
	display: block;
	color: white;
	width: 125px;
	height: 50px;
	display: block;
	line-height: 50px;
	margin: 0px auto;
	padding: 0px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-size: 17px;
	font-family: 'NEXON Lv1 Gothic OTF Light';
}

#login {
	width: 130px;
	margin-left: 1100px;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	color: white;
	font-weight: bold;
}

#login > a {
	color: white;
	margin-top: 2px;
	font-family: 'NEXON Lv1 Gothic OTF Light';
}


.mainlogo > img {
	width: 500px;
	height: 266px;
	margin: 0 auto;
	margin-top: 60px;
	display: block;
}

.page {
	width: 1280px;
	height: 24px;
}

.page > .page1 {
	float: left;
	height: 24px;
}

.page > .page1 > p {
	font-size: 14px;
	height: 24px;
	float: left;
}

.page > .page1 > img {
	width: 24px;
	height: 24px;
}

.page > .page1 > img:nth-child(2) {
	width: 12px;
	height: 20px;
}

.page > .page1 > img:nth-last-child {
	width: 12px;
	height: 20px;
}

.page > .page2 {
	float: right;
	vertical-align: bottom;
}

.dropmenu li a:hover, .dropmenu ul li:hover a {
	text-decoration: none;
}

.dropmenu li ul {
	display: none;
	height: auto;
	border: 0px;
	position: absolute;
	width: 125px;
	z-index: 200;
	/*top:1em;
/*left:0;*/
}

.dropmenu li:hover ul {
	display: block;
}

.dropmenu li li {
	display: block;
	float: none;
	margin: 0px;
	padding: 0px;
	width: 125px;
	background-color: white;
	 
}

.dropmenu li:hover li a {
	background: none;
}

.dropmenu li ul a {
	display: block;
	height: 50px;
	font-size: 14px;
	margin: 0px;
	text-align: center;
	line-height: 50px;
	color: gray;
}

.dropmenu li ul a:hover, .dropmenu li ul li:hover a {
	border: 0px;
	color: #ffffff;
	text-decoration: none;
	color: #0068b3;
}

.dropmenu p {
	clear: left;
}

.intro >img {
	display: block;
	width: 1280px;
	margin: 0px auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

h4 {
	font-family: 'yg-jalnan';
	font-size: 1.25rem;
	margin-top: 20px;
}

.fri > p:first-child {
	font-family: 'NanumSquareRound'; 
	color: #1976D2;
	font-size: 1.5rem;
}

.fri > p {
	font-family: 'NanumSquareRound'; 
	font-size: 2rem;
}

.co {
	width: 1280px;
	float:left;
	margin: 0px auto;
	margin-bottom: 50px;
}
.co > .gLeft {
	float: left;
	width: 280px;
	margin-right: 40px;
	text-align: justify;
	font-family: 'NanumSquareRound'; 
}

.co > .gRight {
	font-family: 'NanumSquareRound';
	float: right;
	width: 260px;
	margin-left: 40px;
	text-align: justify;
}



.footer {
	width: 800px;
	height: 250px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.foot {
	width: 800px;
	height: 70px;
	text-align: left;
}

.footlogo {
	display: inline-block;
	margin-top: 30px;
}

.footlogo > img {
	width: 110px;
	height: 70px;
}

.footsns {
	display: inline-block;
	margin: 40px;
}

.footsns > a > img {
	width: 45px;
	height: 45px;
	margin-left: 10px;
}

.ex {
	width: 800px;
	height: 25px;
	display: inline-block;
	color: white;
	margin-top: 50px;	
	text-align: left;
}

.ex > p {
	color: white;
	float: left;
}

.ex > p > span:nth-child(1) {
	font-size: 13px;
	font-weight: bold;
	font-family: 'NEXON Lv1 Gothic OTF Light';
}

.ex > p > span:nth-child(2) {
	font-size: 11px;
	font-family: 'NEXON Lv1 Gothic OTF Light';
}
 
.ex > p > span:nth-child(3) {
	font-size: 11px;
	font-family: 'NEXON Lv1 Gothic OTF Light';
}

.ex2 {
	width: 800px;
	height: 70px;
	color: white;
	margin-top: 20px;	
	text-align: left;
}

.ex2 > p {
	color: white;
	font-size: 11px;
	font-family: 'NEXON Lv1 Gothic OTF Light';
	height: 70px;
	display: inline;
}

.ex2 > p > span {
	margin-top: 10px;
}

