/* 폰트 */
@font-face { 
	font-family: 'Recipekorea'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}

@font-face { 
	font-family: 'GmarketSansBold'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff'); font-weight: normal; font-style: normal; }

@font-face { 
	font-family: 'yg-jalnan'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; }
	
@font-face { 
	font-family: 'NanumSquareRound'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

#logo1 {
	width: 500px;
	height: 100px;
	margin-right: 100px;
}

#logo1 > img {
	float: left;
}

#logo1 h1 > a {
	 font-family: Recipekorea;
	font-size: 1rem;
	width: 400px;
	color: #1976D2;
	line-height: 100px;
	font-size: 2.5rem;
	float: left;
	cursor: pointer;
}

header {
	width: 1200px;
	height: 30px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

h5 {
	float: right;
	cursor: pointer;
}


.dropmenu > img {
	float: left
}

nav {
	width: 1200px;
	margin: 0 auto;
	height: 100px;
	border-bottom: 1px solid black;
}



footer {
	width: 1200px;
	margin: 0 auto;
	background: black;
	height: 100px;
}

.dropmenu {
	border: none;
	border: 0px;
	margin: 0px;
	padding: 0px;
	font: "sans-serif";
	font-size: 18px;
	
}

.dropmenu ul {
	height: 100px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	float: right;
}

.dropmenu li {
	padding: 0px;
	float: left;
}

.dropmenu li a {
	color: black;
	width: 150px;
	display: block;
	line-height: 100px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	text-decoration: none;
	font-weight: bolder;
}

.dropmenu li a:hover, .dropmenu ul li:hover a {
	color: black;
	text-decoration: none;
}

.dropmenu li ul {
	display: none;
	height: auto;
	border: 0px;
	position: absolute;
	width: 200px;
	z-index: 200;
	/*top:1em;
/*left:0;*/
}

.dropmenu li:hover ul {
	display: block;
}

.dropmenu li li {
	display: block;
	float: none;
	margin: 0px;
	padding: 0px;
	width: 200px;
	 background-color: rgba( 255, 255, 255, 0.8 );
}

.dropmenu li:hover li a {
	background: none;
}

.dropmenu li ul a {
	display: block;
	height: 80px;
	font-size: 14px;
	margin: 0px;
	text-align: center;
	line-height: 80px;
}

.dropmenu li ul a:hover, .dropmenu li ul li:hover a {
	border: 0px;
	color: #ffffff;
	text-decoration: none;
}

.dropmenu p {
	clear: left;
}

section {
	width: 1200px;
	margin-top: 20px;
	margin: 0px auto;
}

h4 {
	font-family: 'yg-jalnan';
	font-size: 1.25rem;
	margin-top: 20px;
}

section > .map {
	height: 410px;
}

section > .info {
	margin-top: 20px;
	float: left;
	height: 600px;
	width: 700px;
}


ul{
	list-style:none;
}

.tabmenu{ 
  max-width:1000px; 
  margin: 0 auto; 
  position:relative; 
  margin-top: 20px;
}
.tabmenu ul li{
  display:  inline-block;
  width:33.33%; 
  float:left;  
  text-align:center; 
  background :#f9f9f9;
  line-height:50px;
}
.tabmenu label{
  display:block;
  height:50px;
  line-height:50px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid #1976D2;
  font-family: 'NanumSquareRound'; 
  font-weight: bold;
  font-size: 1rem;
}

.tabmenu input{
	display:none;
	
}
.tabCon{
	width: 100%;
  display:none; 
  text-align:left; 
  position:absolute; 
  left:0; top:40px; 
  box-sizing: border-box; 
}

.tabmenu input:checked ~ label {
	background: white;
	border-right: 3px solid #1976D2;
	border-top: 3px solid #1976D2;
	border-left: 3px solid #1976D2;
	border-bottom: 3px solid transparent;
	color: #1976D2;
}

.tabmenu input:checked ~ .tabCon{
  display:block;
}

.intro {
	width: 1000px;
}

.tra > th,td {
	padding: 10px;
}

table.tra {
	text-align: center;
border-collapse: collapse;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-left: 5px solid #369;
}

table.tra th {
    font-weight: bold;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

}
table.tra td {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    
}


