@font-face { 
	font-family: 'NEXON Lv1 Gothic OTF Light'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}

@font-face { 
	font-family: 'NEXON Lv1 Gothic OTF Bold'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}

.page {
	width: 1280px;
	height: 35px;
	border-bottom: 1px solid black;
}

.page > .page1 {
	float: left;
	height: 24px;
}

.page > .page1 > a {
	font-size: 14px;
	font-family: 'NEXON Lv1 Gothic OTF Bold';
}

.page > .page1 > span {
	font-weight: bold;
}

.page > .page1 > img {
	width: 24px;
	height: 24px;
}

.page > .page2 {
	float: right;
}

.page > .page2 > p {
	font-size: 12px;
	font-family: 'NEXON Lv1 Gothic OTF Light';
	line-height: 40px;
}

.toptitle {
	width: 1000px;
	margin: 0 auto;
	text-align: left;
}

.toptitle > p {
	font-size: 50px;
	font-family: 'NEXON Lv1 Gothic OTF Bold';
	margin-top: 60px;
	margin-bottom: 30px;
}

.main {
	margin: 0 auto;
	text-align: center;
}

.maintitle {
	width: 1000px;
	margin: 0 auto;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 20px;
}

.maintitle > p {
	font-family: 'NEXON Lv1 Gothic OTF Bold';
	font-size: 25px;
	color: #0068b3;
}

.main1 > table {
	width: 1000px;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	border-top: 3px solid #0068b3;
	 border-collapse: collapse;
}

strong {
	color: black;
}

th {
	width: 200px;
	height: 65px;
	font-family: 'NEXON Lv1 Gothic OTF Bold'; 
	border-bottom: 1px solid lightgray;
	background: #FAFAFA;
}

td {
	width: 300px;
	font-family: 'NEXON Lv1 Gothic OTF Light'; 
	border-bottom: 1px solid lightgray;
}

#btn_group {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}
#btn { 
	width: 150px;
	height: 50px;
	border-top-left-radius: 5px; 
	border-bottom-left-radius: 5px; 
	border-top-right-radius: 5px; 
	border-bottom-right-radius: 5px;
	margin-right:-4px; 
	font-family: 'NEXON Lv1 Gothic OTF Bold'; 
	cursor: pointer
} 

#btn_group button { 
	border: 1px solid #0068b3; 
	background-color: rgba(0,0,0,0); 
	color: #0068b3; padding: 5px; 
} 

#btn_group button:hover { 
	color:white; 
	background-color: #0068b3; 
}
